USE [ProjMngmntsystm]
GO
/****** Object:  Table [dbo].[AllFiles]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllFiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[fname] [nvarchar](200) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[taskId] [int] NOT NULL,
	[comment] [text] NOT NULL,
	[commentDate] [datetime] NOT NULL,
	[commenterid] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[priorityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[codeName] [nvarchar](200) NOT NULL,
	[description] [text] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
	[duration] [int] NOT NULL,
	[filesId] [int] NULL,
	[statusId] [int] NULL,
	[shortName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectStatuses]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProjectStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](100) NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[taskHeading] [nvarchar](100) NOT NULL,
	[assigneeid] [int] NOT NULL,
	[priorityId] [int] NOT NULL,
	[assignedbyId] [int] NOT NULL,
	[dueDate] [datetime] NOT NULL,
	[description] [text] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/4/2018 9:37:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[status] [bit] NOT NULL,
	[designationId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AllFiles] ON 

INSERT [dbo].[AllFiles] ([id], [projectId], [fname]) VALUES (1, 1, N'Age_of_Empire_III_-_The_Age_of_Discovery_1024x1024.jpg')
SET IDENTITY_INSERT [dbo].[AllFiles] OFF
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([id], [projectId], [userId]) VALUES (8, 1, 2)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [taskId], [comment], [commentDate], [commenterid]) VALUES (3, 1, N'1st comment in 1st project', CAST(N'2017-12-12T12:12:36.830' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([id], [name]) VALUES (1, N'It Admin')
INSERT [dbo].[Designations] ([id], [name]) VALUES (2, N'Project Manager')
INSERT [dbo].[Designations] ([id], [name]) VALUES (3, N'Team Lead')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([id], [priorityName]) VALUES (1, N'Low')
INSERT [dbo].[Priorities] ([id], [priorityName]) VALUES (2, N'Medium')
INSERT [dbo].[Priorities] ([id], [priorityName]) VALUES (3, N'High')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([id], [name], [codeName], [description], [startDate], [endDate], [duration], [filesId], [statusId], [shortName]) VALUES (1, N'1st Project', N'1p', N'chk skype', CAST(N'2017-12-03T00:00:00.000' AS DateTime), CAST(N'2017-12-16T00:00:00.000' AS DateTime), 13, NULL, 2, NULL)
INSERT [dbo].[Projects] ([id], [name], [codeName], [description], [startDate], [endDate], [duration], [filesId], [statusId], [shortName]) VALUES (2, N'2nd Project', N'2none', N'chk email', CAST(N'2017-12-03T00:00:00.000' AS DateTime), CAST(N'2017-12-15T00:00:00.000' AS DateTime), 12, NULL, 2, NULL)
INSERT [dbo].[Projects] ([id], [name], [codeName], [description], [startDate], [endDate], [duration], [filesId], [statusId], [shortName]) VALUES (3, N'repo test', N'RTEST', N'TEST', CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-09T00:00:00.000' AS DateTime), 8, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ProjectStatuses] ON 

INSERT [dbo].[ProjectStatuses] ([id], [name]) VALUES (1, N'Not Started')
INSERT [dbo].[ProjectStatuses] ([id], [name]) VALUES (2, N'Started')
INSERT [dbo].[ProjectStatuses] ([id], [name]) VALUES (3, N'Completed')
SET IDENTITY_INSERT [dbo].[ProjectStatuses] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [Role], [userId]) VALUES (1, N'IT Admin', NULL)
INSERT [dbo].[Roles] ([id], [Role], [userId]) VALUES (2, N'Add/Edit/View User', NULL)
INSERT [dbo].[Roles] ([id], [Role], [userId]) VALUES (3, N'Add Project/Edit', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([id], [projectId], [taskHeading], [assigneeid], [priorityId], [assignedbyId], [dueDate], [description]) VALUES (1, 1, N'1st project 1st task heading assign to Arefin(project Manager) self assign', 2, 2, 2, CAST(N'2017-12-15T00:00:00.000' AS DateTime), N'chk skype')
INSERT [dbo].[Tasks] ([id], [projectId], [taskHeading], [assigneeid], [priorityId], [assignedbyId], [dueDate], [description]) VALUES (2, 1, N'taskheadingby blue', 2, 3, 12, CAST(N'2017-12-22T00:00:00.000' AS DateTime), N'chk mail')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [password], [status], [designationId]) VALUES (1, N'Arefin', N'hitstroke@mail.com', N'hitstroke@mail.com123', 1, 1)
INSERT [dbo].[Users] ([id], [name], [email], [password], [status], [designationId]) VALUES (2, N'Arefin', N'arefin@mail.com', N'arefin@mail.com123', 1, 2)
INSERT [dbo].[Users] ([id], [name], [email], [password], [status], [designationId]) VALUES (3, N'gong', N'gong@mail.com', N'gong@mail.com123', 1, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[AllFiles]  WITH CHECK ADD  CONSTRAINT [FK_Files_Projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[AllFiles] CHECK CONSTRAINT [FK_Files_Projects]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Projects]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Users]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Tasks] FOREIGN KEY([taskId])
REFERENCES [dbo].[Tasks] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Tasks]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([commenterid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_ProjectStatuses] FOREIGN KEY([statusId])
REFERENCES [dbo].[ProjectStatuses] ([id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_ProjectStatuses]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Role_User] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Role_User]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Priorities] FOREIGN KEY([priorityId])
REFERENCES [dbo].[Priorities] ([id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Priorities]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([assigneeid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Designation] FOREIGN KEY([designationId])
REFERENCES [dbo].[Designations] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Designation]
GO
