@using Microsoft.AspNet.Identity

@using Smpl_prjct_mng_mnt_tol.EF
@*Session["logger"]*@
@if(Session["logger"] != null)
{
    LoginViewModel a = new LoginViewModel();
    a = (LoginViewModel)Session["logger"];

    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + a.PersonalName + "!", "Index", "Home", htmlAttributes: new { @style = "color:#f48541" })
        </li>
                        @*#f48541*@
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink",@style= "color:#f48541" })</li>
    </ul>
}
