@{
    ViewBag.Title = "About Page";
}

<h3>@ViewBag.Message</h3>


<a class="btn btn-default" href="javascript:void(0)" onclick="gotolinkedIn()" aria-label="Settings">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    Sultanul Arefin,Facebook
</a>

<br />
<hr />

<a class="btn btn-default" href="javascript:void(0)" onclick="gotoFacebook()" aria-label="Settings">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    Sultanul Arefin, LinkedIn
</a>

@section scripts {

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <script type="text/javascript">


        function gotolinkedIn() {
            console.log('a');



            window.open('https://www.linkedin.com/in/mdsultanularefin/', '_blank');

            return;
            //return window.location.replace("https://www.linkedin.com/in/mdsultanularefin/");

            //// similar behavior as clicking on a link

            // return window.location.href = "https://www.linkedin.com/in/mdsultanularefin/";

        }

        function gotoFacebook() {
            window.open('https://www.facebook.com/mdsultanul', '_blank');

            return;
        }

    </script>
}


