@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Project Management Tool</h1>
    <p class="lead">Please Login to see the action  name: arefin, email: mhmdarefin@gmail.com, password:mhmdarefin@gmail.com123.</p>
    <p><a href="https://github.com/sultanularefin" class="btn btn-primary btn-lg">Learn more(GitHub Link) &raquo;</a></p>
</div>

